extends ../../../layouts/main/main.pug

block append scripts
	script(type='module' src='../index.js')

block content
	.auth-form__main
		.auth-form__inner
			h3.auth-form__title Регистрация
			form.auth-form__form
				.auth-form__field
					label.auth-form__label Почта
						input.auth-form__input(
							placeholder='Почта'
							name='email'
						)
				.auth-form__field
					label.auth-form__label Логин
						input.auth-form__input(
							placeholder='Логин'
							name='login'
						)
				.auth-form__field
					label.auth-form__label Имя
						input.auth-form__input(
							placeholder='Имя'
							name='first_name'
						)
				.auth-form__field
					label.auth-form__label Фамилия
						input.auth-form__input(
							placeholder='Фамилия'
							name='second_name'
						)
				.auth-form__field
					label.auth-form__label Телефон
						input.auth-form__input(
							placeholder='Телефон'
							name='phone'
						)
				.auth-form__field
					label.auth-form__label Пароль
						input.auth-form__input(
							type='password'
							placeholder='Пароль'
							name='password'
						)
				.auth-form__field
					label.auth-form__label Пароль еще раз
						input.auth-form__input(
							type='password'
							placeholder='Пароль'
							name='email'
						)
				button.default-button.auth-form__button Зарегистрироваться
			a.default-link(href='../login/login.pug') Войти
