extends ../../../layouts/profile/profile.pug
block variables
	- var linkBack = '/src/pages/profile/profile-view/profile-view.pug'
block append scripts
block profile
	h3.profile__title Сменить пароль
	.profile__head
	form.profile__form
		.profile__field
			label.profile__label Старый пароль
				input.profile__input(
					type='password'
					name='oldPassword'
				)
		.profile__field
			label.profile__label Новый пароль
				input.profile__input(
					type='password'
					name='newPassword'
				)
		.profile__field
			label.profile__label Повторите новый пароль
				input.profile__input(
					type='password'
				)
	button.default-button Сохранить